.artist-page {
  .sidebar {
    @media only screen and (max-width: 1350px) {
      display: none;
    }
  }
  .main-content {
    @media only screen and (max-width: 1350px) {
      margin-top: 0;
    }
  }

  .btn__follow-outer,
  .btn__back {
    position: absolute;
    top: 3rem;
    right: 2rem;
  }

  .btn__follow-outer {
    right: inherit;
    left: 2rem;
    // display: inline-block !important;
  }

  .artist {
    &__image {
      width: 100%;
      height: 36rem;
      // min-width: 18rem;
      // min-height: 18rem;
      border-radius: 6px;
      overflow: hidden;
      margin: 0 auto;

      @media only screen and (max-width: $tab-land) {
        border-radius: 50%;
        // max-width: 14rem;
        // max-height: 14rem;
        // min-width: 14rem;
        // min-height: 14rem;
        margin-top: 5rem;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__name {
      font-size: 3rem;
      font-weight: 600;
    }

    &__title {
      font-size: 3rem;
      font-weight: 600;
      color: #fa233b;
    }

    &__date {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    &__buttons {
      @media only screen and (max-width: $laptop-land) {
        display: flex;
        flex-direction: column;
        grid-gap: 2rem;
      }
      .btn {
        background-color: #eeeeef;
        color: #fa233b;
        padding: 1rem 5.5rem;
        border-radius: 1rem;
        transition: all 0.3s;

        @media only screen and (max-width: $laptop-land) {
          padding: 1rem 4.5rem;
        }

        &:hover {
          background-color: #cfcfcf;
        }

        &__play {
          margin: 0;
        }
      }

      svg {
        height: 2rem;
        width: 2rem;
        fill: #fa233b;
        margin-right: 1rem;
      }
    }

    &__details {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &__head {
      display: flex;
      justify-content: space-between;

      svg {
        height: 2rem;
        width: 2rem;
      }
    }

    &__back--button {
      border: none;
      outline: none;
      background: transparent;
      transition: all 0.3s;

      &:hover,
      &:active svg {
        fill: #fa233b;
      }
    }

    &__dot-button {
      background-color: #d4d4d4;
      padding: 0.5rem 1rem;
      border-radius: 50%;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: #ececec;
      }
    }

    &__right {
      display: flex;
      // grid-column-gap: 2rem;
      align-items: center;
      margin-left: auto;
    }

    &__g {
      margin-right: 15rem;
    }
    &__time {
      margin-right: 8rem;
    }
  }
}
.song__list {
  border-top: 1px solid #dadada;
}
