.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  padding-top: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  overflow: hidden;
  background-color: #f2f1f6;
  z-index: 10;

  &__head {
    // border: 1px solid red;
    color: red;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1500px) {
      display: none;
    }

    &--left {
      height: 3rem;
      width: 3rem;
    }
  }

  @media only screen and (max-width: 1500px) {
    width: 250px;
    padding-left: 2rem;
  }
  @media only screen and (max-width: 1350px) {
    width: 100%;
    height: auto;
    padding-top: 0;
    display: grid;
    align-items: flex-start;
    grid-template-columns: max-content 1fr;
    grid-row-gap: 4rem;
    padding: 2rem 0;
    position: static;
    
  }

  @media only screen and (max-width: $laptop-port){
    justify-items: center;
  }

  h2.heading-2 {
    @media only screen and (max-width: 1350px) {
      display: none;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1350px) {
      grid-column-gap: 2rem;
    }

    @media only screen and (max-width: $laptop-port){
      grid-column: 1 / -1;
      
    }

    &__item {
      margin-bottom: 0.8rem;
      // display: block;
    }

    &__link {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      font-weight: 400;
      color: #000;
      // background-color: #000;
      position: relative;
      transition: all 0.3s;
      opacity: 0.6;
      padding: 1.5rem;
      border-radius: 2rem;

      svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 2rem;
        transition: all 0.3s;
        fill: #f9233d;
        transition: all 0.3s;
      }

      &.active,
      &:hover {
        opacity: 1;
        background-color: #f9233d;
        color: #fff;

        // &::after {
        // 	transform: scaleY(1);
        // }

        svg {
          fill: #fff;
        }
      }
    }

    @media only screen and (max-width: 1350px) {
      flex-direction: row;
      // align-items: center;
      padding: 0 1.5rem;
      // justify-content: space-between;
      // height: 100%;
      &__item {
        margin-bottom: 0;
      }

      // &__link {
      // color: #000;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // svg {
      // 	fill: #000;
      // 	margin-right: 0;
      // }
      // &::after {
      // 	display: none;
      // }

      // &.active,
      // &:hover {
      // 	opacity: 1;
      // 	color: $color-primary;

      // 	svg {
      // 		fill: $color-primary;
      // 	}
      // }
      // }
    }

    // @media only screen and (max-width: $mbl-land) {
    // 	&__link {
    // 		transform: scale(0.8);
    // 	}
    // }
  }
}
// .sidebar__bg {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: calc(100% - 16px);
// 	height: 100%;
// 	z-index: -1;
// 	filter: blur(30px) brightness(120%);
// }

.drop {
  @media only screen and (max-width: 1350px) {
    margin-top: 0 !important;
    justify-self: center;
  }

  @media only screen and (max-width: $laptop-port) {
    grid-column: 1 / -1;
    margin-top: 0 !important;
  }

  &__list {
    @media only screen and (max-width: 1350px) {
      display: flex;
      margin-bottom: 0;
      grid-column-gap: 6rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #e4e4e4;
    }

    @media only screen and (max-width: 1350px) {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      position: relative;
    }
  }

  &__link {
    font-size: 2.6rem;
    // padding: .5rem;
    font-weight: 700;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: #f9233d;
      @media only screen and (max-width: 1350px) {
        margin-left: 4rem;
      }
    }

    &:hover,
    &:active {
      color: #f9233d;
    }
  }
}

.dropdown {
  display: none;

  @media only screen and (max-width: 1350px) {
    display: none;
    flex-direction: column;
    // grid-row-gap: .5rem;
  }

  &__item {
    display: inline-block;
    transition: all 0.3s;
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 2rem;

      @media only screen and (max-width: 1350px) {
        margin-bottom: 1rem;
      }
    }

    @media only screen and (max-width: 1350px) {
      // padding: 1rem 2rem;
      // display: flex;
    }

    svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: #f9233d;
      margin-right: 2rem;

      @media only screen and (max-width: 1350px) {
        display: none;
      }
    }

    &:hover,
    &:active {
      color: #f9233d;
    }
  }
}

// .drop__item:hover .dropdown {
//   display: flex;
// }
.show-drop .dropdown {
  display: block;
  @media only screen and (max-width: 1350px) {
    display: flex;
  }
}
